# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/

# Vercel
.vercel/

# Misc
.DS_Store
*.log
*.pdf
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.vs/
.history/

# Environment variables
.env
.env.local
.env.*.local

# OS
Thumbs.db

# Cache
.eslintcache
.cache/

